@import url("fonts.css");


html {
	font-family: FiraSans;
	color: #3E3E3E;
}
p {
	margin: 0;
}




#interim {
	margin: 10% 10% 0 12%;
	text-align: left;
}
#name {
	font-weight: 700;
	font-size: 30px;
	font-family: FiraSansCondensed;
	color: #9E9E9E;
	border-left: 5px solid #47CEBD;
	padding: 0 0 1px 10px;
	height: 37px;
	margin-left: -13px;
}
#headline {
	font-weight: 700;
	font-size: 50px;
	margin-top: 8%;
	line-height: 1.2em;
	max-width: 720px;
}
#statement {
	margin-top: 5%;
	font-weight: 200;
	line-height: 1.5em;
	font-size: 28px;
	max-width: 720px;
}
#portfolio-message {
	font-weight: 200;
	margin-top: 8%;
	font-size: 20px;
	max-width: 720px;
}
#link {
	text-decoration: none;
	color: #3E3E3E;
	transition: 0.25s ease;
}
#link:hover {
	color: #47CEBD;
}
#penguin {
	margin-top: 100px;
	text-align: center;
	max-width: 900px;
}
#penguin img {
	max-width: 800px;
	width: 100%;
}